extends layout

block content
  div.max-w-md.mx-auto.mt-10
    h1.text-2xl.font-bold.mb-4 Register
    form(method="POST" action="/register" class="bg-white p-6 rounded shadow-md")
      input(name="username" placeholder="Username" class="border p-2 rounded w-full mb-2")
      input(type="password" name="password" placeholder="Password" class="border p-2 rounded w-full mb-2")
      button(type="submit" class="bg-blue-600 text-white p-2 rounded w-full") Register
    p.mt-2
      a(href="/login" class="text-blue-600") Already have an account? Login
